
.btn{
    width: 10%;
    background: none;
    border: 2px solid  black;
    color:white;
    padding: 5px;
    font-size: 18px;
    background-color: rgba(82, 253, 119, 0.877);;
}
.btnc{
    width: 10%;
    background: none;
    border: 2px solid black;
    color:white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    background-color:rgba(82, 253, 119, 0.877);
};
